branches/branchMovil/ApplicationController/application/WS_SPEDPort1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://servicios.webservice.sped/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servicios.webservice.sped/">
  <xsd:complexType name="beanUsuario">
    <xsd:sequence>
      <xsd:element name="areaAcYProf" type="xsd:string" minOccurs="0"/>
      <xsd:element name="areaAcademica" type="ns0:beanAreaAcademica" minOccurs="0"/>
      <xsd:element name="clave" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripcionEstadoUsuario" type="xsd:string" minOccurs="0"/>
      <xsd:element name="dni" type="xsd:string" minOccurs="0"/>
      <xsd:element name="error" type="ns0:beanError" minOccurs="0"/>
      <xsd:element name="estadoUsuario" type="xsd:string" minOccurs="0"/>
      <xsd:element name="foto" type="xsd:base64Binary" minOccurs="0"/>
      <xsd:element name="img" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lstPermisos" type="xsd:int" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="nidAreaAcademica" type="xsd:int"/>
      <xsd:element name="nidNivel" type="xsd:int"/>
      <xsd:element name="nidRol" type="xsd:int"/>
      <xsd:element name="nidSede" type="xsd:int"/>
      <xsd:element name="nidUsuario" type="xsd:int" minOccurs="0"/>
      <xsd:element name="nombres" type="xsd:string" minOccurs="0"/>
      <xsd:element name="rol" type="ns0:beanRol" minOccurs="0"/>
      <xsd:element name="sedeNivel" type="ns0:beanSedeNivel" minOccurs="0"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSedes_WSResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:beanSede" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPlanificaciones_WSResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:beanEvaluacionWS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPermisosByUsuarioRol_WS">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
      <xsd:element name="arg1" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAreasAcademicas_WS"/>
  <xsd:complexType name="beanPermiso">
    <xsd:sequence>
      <xsd:element name="accelerator" type="xsd:string" minOccurs="0"/>
      <xsd:element name="accessKey" type="xsd:string"/>
      <xsd:element name="descripcionPermiso" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoRegistro" type="xsd:string" minOccurs="0"/>
      <xsd:element name="habilidad" type="xsd:string" minOccurs="0"/>
      <xsd:element name="indMostrar" type="xsd:string" minOccurs="0"/>
      <xsd:element name="isNodo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="listaHijos" type="ns0:beanPermiso" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="lstPermisos" type="xsd:int" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="nidPadre" type="xsd:int"/>
      <xsd:element name="nidPermiso" type="xsd:int"/>
      <xsd:element name="nivel" type="xsd:int"/>
      <xsd:element name="shortURL_WS" type="xsd:string" minOccurs="0"/>
      <xsd:element name="url" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlIcono" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="autenticarUsuarioLNResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:beanUsuario" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanAreaAcademica">
    <xsd:sequence>
      <xsd:element name="descripcionAreaAcademica" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nidAreaAcademica" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLeyendasByCritIndicador_WS">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPlanificaciones_WS">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
      <xsd:element name="arg1" type="xsd:int"/>
      <xsd:element name="arg2" type="xsd:int"/>
      <xsd:element name="arg3" type="xsd:int"/>
      <xsd:element name="arg4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="arg5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="arg6" type="xsd:int"/>
      <xsd:element name="arg7" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCriteriosEvaluacion_WSResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:beanCriterioWS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanCriterioIndicadorWS">
    <xsd:sequence>
      <xsd:element name="descripcionIndicador" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nidCriterioIndicador" type="xsd:int"/>
      <xsd:element name="nidIndicador" type="xsd:int" minOccurs="0"/>
      <xsd:element name="orden" type="xsd:int"/>
      <xsd:element name="valor" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLstIndicadoresByFichaCriterio_LN_WSResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:beanCriterioIndicadorWS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanSedeNivel">
    <xsd:sequence>
      <xsd:element name="nivel" type="ns0:beanNivel" minOccurs="0"/>
      <xsd:element name="sede" type="ns0:beanSede" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanEvaluacionWS">
    <xsd:sequence>
      <xsd:element name="areaAcademica" type="xsd:string" minOccurs="0"/>
      <xsd:element name="aula" type="xsd:string" minOccurs="0"/>
      <xsd:element name="curso" type="xsd:string" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="evaluador" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nidEvaluacion" type="xsd:int" minOccurs="0"/>
      <xsd:element name="nidEvaluador" type="xsd:int" minOccurs="0"/>
      <xsd:element name="planificador" type="xsd:string" minOccurs="0"/>
      <xsd:element name="profesor" type="xsd:string" minOccurs="0"/>
      <xsd:element name="sede" type="xsd:string" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="tipoVisita" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanLeyendaWS">
    <xsd:sequence>
      <xsd:element name="descripcionLeyenda" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valor" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="autenticarUsuarioLN">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAreasAcademicas_WSResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:beanAreaAcademica" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSedes_WS"/>
  <xsd:complexType name="beanRol">
    <xsd:sequence>
      <xsd:element name="descripcionRol" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nidRol" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLstIndicadoresByFichaCriterio_LN_WS">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
      <xsd:element name="arg1" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanSede">
    <xsd:sequence>
      <xsd:element name="descripcionSede" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nidSede" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanCriterioWS">
    <xsd:sequence>
      <xsd:element name="cantidadValoresWS" type="xsd:int" minOccurs="0"/>
      <xsd:element name="descripcionCriterio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nidCriterio" type="xsd:int" minOccurs="0"/>
      <xsd:element name="nidFicha" type="xsd:int" minOccurs="0"/>
      <xsd:element name="nota" type="xsd:double"/>
      <xsd:element name="orden" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCriteriosEvaluacion_WS">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
      <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPermisosByUsuarioRol_WSResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:beanPermiso" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLeyendasByCritIndicador_WSResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:beanLeyendaWS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanNivel">
    <xsd:sequence>
      <xsd:element name="descripcionNivel" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nidNivel" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beanError">
    <xsd:sequence>
      <xsd:element name="cidError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tituloError" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getSedes_WSResponse" type="ns0:getSedes_WSResponse"/>
  <xsd:element name="getCriteriosEvaluacion_WSResponse" type="ns0:getCriteriosEvaluacion_WSResponse"/>
  <xsd:element name="getPlanificaciones_WSResponse" type="ns0:getPlanificaciones_WSResponse"/>
  <xsd:element name="getPermisosByUsuarioRol_WS" type="ns0:getPermisosByUsuarioRol_WS"/>
  <xsd:element name="getLstIndicadoresByFichaCriterio_LN_WSResponse" type="ns0:getLstIndicadoresByFichaCriterio_LN_WSResponse"/>
  <xsd:element name="getAreasAcademicas_WS" type="ns0:getAreasAcademicas_WS"/>
  <xsd:element name="getAreasAcademicas_WSResponse" type="ns0:getAreasAcademicas_WSResponse"/>
  <xsd:element name="autenticarUsuarioLN" type="ns0:autenticarUsuarioLN"/>
  <xsd:element name="getSedes_WS" type="ns0:getSedes_WS"/>
  <xsd:element name="autenticarUsuarioLNResponse" type="ns0:autenticarUsuarioLNResponse"/>
  <xsd:element name="getLstIndicadoresByFichaCriterio_LN_WS" type="ns0:getLstIndicadoresByFichaCriterio_LN_WS"/>
  <xsd:element name="getCriteriosEvaluacion_WS" type="ns0:getCriteriosEvaluacion_WS"/>
  <xsd:element name="getPermisosByUsuarioRol_WSResponse" type="ns0:getPermisosByUsuarioRol_WSResponse"/>
  <xsd:element name="getPlanificaciones_WS" type="ns0:getPlanificaciones_WS"/>
  <xsd:element name="getLeyendasByCritIndicador_WS" type="ns0:getLeyendasByCritIndicador_WS"/>
  <xsd:element name="getLeyendasByCritIndicador_WSResponse" type="ns0:getLeyendasByCritIndicador_WSResponse"/>
</xsd:schema>