branches/branchMovil/ApplicationController/application/WS_SPEDService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.webservice.sped/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.webservice.sped/" name="WS_SPEDService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.webservice.sped/" schemaLocation="WS_SPEDPort1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPermisosByUsuarioRol_WS">
    <part name="parameters" element="tns:getPermisosByUsuarioRol_WS"/>
  </message>
  <message name="getPermisosByUsuarioRol_WSResponse">
    <part name="parameters" element="tns:getPermisosByUsuarioRol_WSResponse"/>
  </message>
  <message name="getPlanificaciones_WS">
    <part name="parameters" element="tns:getPlanificaciones_WS"/>
  </message>
  <message name="getPlanificaciones_WSResponse">
    <part name="parameters" element="tns:getPlanificaciones_WSResponse"/>
  </message>
  <message name="getEvaluaciones_WS">
    <part name="parameters" element="tns:getEvaluaciones_WS"/>
  </message>
  <message name="getEvaluaciones_WSResponse">
    <part name="parameters" element="tns:getEvaluaciones_WSResponse"/>
  </message>
  <message name="getCriteriosEvaluacion_WS">
    <part name="parameters" element="tns:getCriteriosEvaluacion_WS"/>
  </message>
  <message name="getCriteriosEvaluacion_WSResponse">
    <part name="parameters" element="tns:getCriteriosEvaluacion_WSResponse"/>
  </message>
  <message name="getLeyendasByCritIndicador_WS">
    <part name="parameters" element="tns:getLeyendasByCritIndicador_WS"/>
  </message>
  <message name="getLeyendasByCritIndicador_WSResponse">
    <part name="parameters" element="tns:getLeyendasByCritIndicador_WSResponse"/>
  </message>
  <message name="getAreasAcademicas_WS">
    <part name="parameters" element="tns:getAreasAcademicas_WS"/>
  </message>
  <message name="getAreasAcademicas_WSResponse">
    <part name="parameters" element="tns:getAreasAcademicas_WSResponse"/>
  </message>
  <message name="getSedes_WS">
    <part name="parameters" element="tns:getSedes_WS"/>
  </message>
  <message name="getSedes_WSResponse">
    <part name="parameters" element="tns:getSedes_WSResponse"/>
  </message>
  <message name="evaluarDocente_WS">
    <part name="parameters" element="tns:evaluarDocente_WS"/>
  </message>
  <message name="evaluarDocente_WSResponse">
    <part name="parameters" element="tns:evaluarDocente_WSResponse"/>
  </message>
  <message name="getTipoVisita_LN_WS">
    <part name="parameters" element="tns:getTipoVisita_LN_WS"/>
  </message>
  <message name="getTipoVisita_LN_WSResponse">
    <part name="parameters" element="tns:getTipoVisita_LN_WSResponse"/>
  </message>
  <message name="getDetalleEvaluacionById_WS">
    <part name="parameters" element="tns:getDetalleEvaluacionById_WS"/>
  </message>
  <message name="getDetalleEvaluacionById_WSResponse">
    <part name="parameters" element="tns:getDetalleEvaluacionById_WSResponse"/>
  </message>
  <message name="getMainByAttr_WS">
    <part name="parameters" element="tns:getMainByAttr_WS"/>
  </message>
  <message name="getMainByAttr_WSResponse">
    <part name="parameters" element="tns:getMainByAttr_WSResponse"/>
  </message>
  <message name="registrarParteOcurrencia_WS">
    <part name="parameters" element="tns:registrarParteOcurrencia_WS"/>
  </message>
  <message name="registrarParteOcurrencia_WSResponse">
    <part name="parameters" element="tns:registrarParteOcurrencia_WSResponse"/>
  </message>
  <message name="getListaPartesOcurrencia_WS">
    <part name="parameters" element="tns:getListaPartesOcurrencia_WS"/>
  </message>
  <message name="getListaPartesOcurrencia_WSResponse">
    <part name="parameters" element="tns:getListaPartesOcurrencia_WSResponse"/>
  </message>
  <message name="getPieProfesor_WS">
    <part name="parameters" element="tns:getPieProfesor_WS"/>
  </message>
  <message name="getPieProfesor_WSResponse">
    <part name="parameters" element="tns:getPieProfesor_WSResponse"/>
  </message>
  <message name="getLstIndicadoresByFichaCriterio_LN_WS">
    <part name="parameters" element="tns:getLstIndicadoresByFichaCriterio_LN_WS"/>
  </message>
  <message name="getLstIndicadoresByFichaCriterio_LN_WSResponse">
    <part name="parameters" element="tns:getLstIndicadoresByFichaCriterio_LN_WSResponse"/>
  </message>
  <message name="autenticarUsuarioLN">
    <part name="parameters" element="tns:autenticarUsuarioLN"/>
  </message>
  <message name="autenticarUsuarioLNResponse">
    <part name="parameters" element="tns:autenticarUsuarioLNResponse"/>
  </message>
  <message name="getPlanificadores_LN_WS">
    <part name="parameters" element="tns:getPlanificadores_LN_WS"/>
  </message>
  <message name="getPlanificadores_LN_WSResponse">
    <part name="parameters" element="tns:getPlanificadores_LN_WSResponse"/>
  </message>
  <message name="getProblemas_LN_WS">
    <part name="parameters" element="tns:getProblemas_LN_WS"/>
  </message>
  <message name="getProblemas_LN_WSResponse">
    <part name="parameters" element="tns:getProblemas_LN_WSResponse"/>
  </message>
  <message name="getUsuarios_LN_WS">
    <part name="parameters" element="tns:getUsuarios_LN_WS"/>
  </message>
  <message name="getUsuarios_LN_WSResponse">
    <part name="parameters" element="tns:getUsuarios_LN_WSResponse"/>
  </message>
  <message name="getEvaluadores_LN_WS">
    <part name="parameters" element="tns:getEvaluadores_LN_WS"/>
  </message>
  <message name="getEvaluadores_LN_WSResponse">
    <part name="parameters" element="tns:getEvaluadores_LN_WSResponse"/>
  </message>
  <portType name="WS_SPED">
    <operation name="getPermisosByUsuarioRol_WS">
      <input message="tns:getPermisosByUsuarioRol_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getPermisosByUsuarioRol_WSRequest"/>
      <output message="tns:getPermisosByUsuarioRol_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getPermisosByUsuarioRol_WSResponse"/>
    </operation>
    <operation name="getPlanificaciones_WS">
      <input message="tns:getPlanificaciones_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getPlanificaciones_WSRequest"/>
      <output message="tns:getPlanificaciones_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getPlanificaciones_WSResponse"/>
    </operation>
    <operation name="getEvaluaciones_WS">
      <input message="tns:getEvaluaciones_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getEvaluaciones_WSRequest"/>
      <output message="tns:getEvaluaciones_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getEvaluaciones_WSResponse"/>
    </operation>
    <operation name="getCriteriosEvaluacion_WS">
      <input message="tns:getCriteriosEvaluacion_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getCriteriosEvaluacion_WSRequest"/>
      <output message="tns:getCriteriosEvaluacion_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getCriteriosEvaluacion_WSResponse"/>
    </operation>
    <operation name="getLeyendasByCritIndicador_WS">
      <input message="tns:getLeyendasByCritIndicador_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getLeyendasByCritIndicador_WSRequest"/>
      <output message="tns:getLeyendasByCritIndicador_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getLeyendasByCritIndicador_WSResponse"/>
    </operation>
    <operation name="getAreasAcademicas_WS">
      <input message="tns:getAreasAcademicas_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getAreasAcademicas_WSRequest"/>
      <output message="tns:getAreasAcademicas_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getAreasAcademicas_WSResponse"/>
    </operation>
    <operation name="getSedes_WS">
      <input message="tns:getSedes_WS" wsam:Action="http://servicios.webservice.sped/WS_SPED/getSedes_WSRequest"/>
      <output message="tns:getSedes_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getSedes_WSResponse"/>
    </operation>
    <operation name="evaluarDocente_WS">
      <input message="tns:evaluarDocente_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/evaluarDocente_WSRequest"/>
      <output message="tns:evaluarDocente_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/evaluarDocente_WSResponse"/>
    </operation>
    <operation name="getTipoVisita_LN_WS">
      <input message="tns:getTipoVisita_LN_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getTipoVisita_LN_WSRequest"/>
      <output message="tns:getTipoVisita_LN_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getTipoVisita_LN_WSResponse"/>
    </operation>
    <operation name="getDetalleEvaluacionById_WS">
      <input message="tns:getDetalleEvaluacionById_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getDetalleEvaluacionById_WSRequest"/>
      <output message="tns:getDetalleEvaluacionById_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getDetalleEvaluacionById_WSResponse"/>
    </operation>
    <operation name="getMainByAttr_WS">
      <input message="tns:getMainByAttr_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getMainByAttr_WSRequest"/>
      <output message="tns:getMainByAttr_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getMainByAttr_WSResponse"/>
    </operation>
    <operation name="registrarParteOcurrencia_WS">
      <input message="tns:registrarParteOcurrencia_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/registrarParteOcurrencia_WSRequest"/>
      <output message="tns:registrarParteOcurrencia_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/registrarParteOcurrencia_WSResponse"/>
    </operation>
    <operation name="getListaPartesOcurrencia_WS">
      <input message="tns:getListaPartesOcurrencia_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getListaPartesOcurrencia_WSRequest"/>
      <output message="tns:getListaPartesOcurrencia_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getListaPartesOcurrencia_WSResponse"/>
    </operation>
    <operation name="getPieProfesor_WS">
      <input message="tns:getPieProfesor_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getPieProfesor_WSRequest"/>
      <output message="tns:getPieProfesor_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getPieProfesor_WSResponse"/>
    </operation>
    <operation name="getLstIndicadoresByFichaCriterio_LN_WS">
      <input message="tns:getLstIndicadoresByFichaCriterio_LN_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getLstIndicadoresByFichaCriterio_LN_WSRequest"/>
      <output message="tns:getLstIndicadoresByFichaCriterio_LN_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getLstIndicadoresByFichaCriterio_LN_WSResponse"/>
    </operation>
    <operation name="autenticarUsuarioLN">
      <input message="tns:autenticarUsuarioLN"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/autenticarUsuarioLNRequest"/>
      <output message="tns:autenticarUsuarioLNResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/autenticarUsuarioLNResponse"/>
    </operation>
    <operation name="getPlanificadores_LN_WS">
      <input message="tns:getPlanificadores_LN_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getPlanificadores_LN_WSRequest"/>
      <output message="tns:getPlanificadores_LN_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getPlanificadores_LN_WSResponse"/>
    </operation>
    <operation name="getProblemas_LN_WS">
      <input message="tns:getProblemas_LN_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getProblemas_LN_WSRequest"/>
      <output message="tns:getProblemas_LN_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getProblemas_LN_WSResponse"/>
    </operation>
    <operation name="getUsuarios_LN_WS">
      <input message="tns:getUsuarios_LN_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getUsuarios_LN_WSRequest"/>
      <output message="tns:getUsuarios_LN_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getUsuarios_LN_WSResponse"/>
    </operation>
    <operation name="getEvaluadores_LN_WS">
      <input message="tns:getEvaluadores_LN_WS"
             wsam:Action="http://servicios.webservice.sped/WS_SPED/getEvaluadores_LN_WSRequest"/>
      <output message="tns:getEvaluadores_LN_WSResponse"
              wsam:Action="http://servicios.webservice.sped/WS_SPED/getEvaluadores_LN_WSResponse"/>
    </operation>
  </portType>
  <binding name="WS_SPEDPortBinding" type="tns:WS_SPED">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getPermisosByUsuarioRol_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPlanificaciones_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEvaluaciones_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCriteriosEvaluacion_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLeyendasByCritIndicador_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAreasAcademicas_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSedes_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="evaluarDocente_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTipoVisita_LN_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetalleEvaluacionById_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMainByAttr_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registrarParteOcurrencia_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getListaPartesOcurrencia_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPieProfesor_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLstIndicadoresByFichaCriterio_LN_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="autenticarUsuarioLN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPlanificadores_LN_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProblemas_LN_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsuarios_LN_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEvaluadores_LN_WS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WS_SPEDService">
    <port name="WS_SPEDPort" binding="tns:WS_SPEDPortBinding">
      <soap:address location="http://localhost:7101/App-ApplicationController-context-root/WS_SPEDService"/>
    </port>
  </service>
</definitions>